.EventInfos {
	height :100%;
	width:100%;
	border:1px solid red;
}
.EventInfosDateSeats {
	text-align:left;
	border:1px solid black;
	padding-left:20px;
	padding-top:20px;
}
.buttonLink{
	background-color: #aeb2b0;
  color: black;
  padding: 0.08em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}
.buttonLink:hover {
  background-color: #2196F3;
  color:white;
}